<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Offres disponibles
</h1>

<form th:action="@{/offres/search}" method="GET" >
    <div class="mb-3">
        <label  class="control-label"  for="title">Search By company name</label>
        <input type="text"
               id="title"
               name="title"
               class="form-control"
               required autofocus="autofocus" >
    </div>
    <div class="mb-3 text-center">
        <input type="submit"
               value="Search"
               role="button"
               class="btn btn-lg white "
               style="background-color: #6ba5b0;" />

    </div>
</form>

<br/>
<br/>
<br/>
<br/>

<form th:action="@{/offres/employer}" method="GET" >
    <div class="mb-3">
        <label  class="control-label"  for="email">Employer offers email </label>
        <input type="text"
               id="email"
               name="email"
               class="form-control"
               required autofocus="autofocus" >
    </div>
    <div class="mb-3 text-center">
        <input type="submit"
               value="Search"
               role="button"
               class="btn btn-lg white "
               style="background-color: #6ba5b0;" />

    </div>
</form>

<br/>
<br/>

<div>
        <tr>
            <th>company</th>
            <th>Description</th>
            <th>Period</th>
            <th>nb of candidates</th>
            <th>location</th>

        </tr>
        <tr th:if="${allOffers.isEmpty()}">
            <td colspan="2"> No Offers Available </td>
        </tr>
        <tr th:each = "offre : ${allOffers}">
            <div th:if="${offre.isAvailable}">
                <td><span th:text="${offre.getTitle()}">company</span></td>
                <td><span th:text="${offre.getDescription()}"> description </span></td>
                <td><span th:text="${offre.getPeriod()}"> period </span></td>
                <td><span th:text="${offre.getNbCandidates()}"> nbCandidates </span></td>
                <td><span th:text="${offre.getLocation()}"> location </span></td>
            </div>

        </tr>
    </table>
</div>
</body>
</html>